:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --hero-text-color: #FFFFFF;
    --logo-text-color: #000000;
    --primary-background-color: #FFFFFF;
    --additional-background-color: #2F303A;
    --extra-backround-color: #F5F4FA;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section {
    padding: 94px 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Логотип */

.logo {
    display: inline-block;

    color: var(--logo-text-color);

    font-family: 'Raleway', cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;    
}

.logo .logo-part {
    color: var(--accent-text-color);
}

/* Навигация сайта */

.page-header {
    border-bottom: 1px solid #ECECEC;
}

.navigation {
    display: flex;
    align-items: center;
}

.add-nav {
    margin-left: 93px;
}

.site-nav {
    display: flex;
}

.site-nav .item:not( :last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;    
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
    color: var(--accent-text-color);
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-text-color);
}   

/* Hero */

.hero {
    background-color: var(--additional-background-color);
    text-align: center;
    padding: 200px 0;
}

.hero .hero-title {
    width: 696px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    color: var(--hero-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    
}

/* Button */

.btn {
    display: inline-block;

    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    border: 0;
}

.btn.btn-primary {
    padding: 10px 32px;
    min-width: 200px;

    color: var(--hero-text-color) ;
    background-color: var(--accent-text-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;    
}

/* Features */

.features {
    padding-bottom: 47px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-list {
    display: flex;
}

.feature-list .item {
    width: 270px;
}

.feature-list .item:not( :last-child) {
    margin-right: 30px;
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
}

.feature-list p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Our activities */

.work {
    padding-top: 47px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    
}

.work-type {
    display: flex;
    gap: 30px;
}

.work-type .img {
    display: block;
    }

.img .photo {
    display: block;
}

    /* Our team */
        
.team {
    background-color: var(--extra-backround-color);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-list .worker-info {
    width: 270px;

    background-color: var(--primary-background-color);
}


.worker-info .photo {
    display: block;
}

.worker-info-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.worker-info .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;    
}

.worker-info .post {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;    
}

/* footer */

.footer {
    padding: 60px 0;

    background-color: var(--additional-background-color);
}

.footer .logo {
    margin-bottom: 20px;

    color: var(--hero-text-color);    
}

.address {
    font-style: normal;
}

.address .address-list {
    display: inline-block;

    font-size: 14px;
    line-height: 1.71;    
}

.address-list .street {
    display: inline-block;

    color: var(--hero-text-color);

    text-decoration: none;    
}

.address-list .link {
    display: inline-block;

    color: var(--footer-contacts-color);

    text-decoration: none;    
}

.address-list .list-item:not( :last-child) {
    margin-bottom: 9px;
}

.address-list .link:hover,
.address-list .link:focus {
    color: var(--accent-text-color);
}


/* Portfolio */

.btn.btn-secondary.btn-page {
    color: var(--hero-text-color);
    background-color: var(--accent-text-color);
}
 
.btn.btn-secondary {
    padding: 6px 22px;
    min-width: 73px;

    color: var(--title-text-color);
    background-color: var(--extra-backround-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;    
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
    color: var(--hero-text-color);
    background-color: var(--accent-text-color);
}

.btn-list {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
    gap: 8px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-info {
    width: calc((100% - 60px) / 3);

    border-bottom: 1px solid #EEEEEE;;
}


.project-info .link {
    text-decoration: none;
}

.project-info .photo {
    display: block;
}

.project-info-description {
    padding-top: 20px;
    padding-bottom: 20px;
}

.project-info .title {
    margin-top: 0;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 4px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-list .type {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 24px;
    padding-left: 24px;

    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.88;
}

